---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: shipment[to_address][company]=EasyPost&shipment[to_address][street1]=164%20Townsend%20Street&shipment[to_address][street2]=Unit%201&shipment[to_address][city]=San%20Francisco&shipment[to_address][state]=CA&shipment[to_address][zip]=94107&shipment[to_address][phone]=415-123-4567&shipment[from_address][company]=Airport%20Shipping&shipment[from_address][street1]=601%20Brasilia%20Avenue&shipment[from_address][city]=Kansas%20City&shipment[from_address][state]=MO&shipment[from_address][zip]=64153&shipment[from_address][phone]=314-924-0383&shipment[from_address][email]=kansas_shipping%40example.com&shipment[parcel][width]=12&shipment[parcel][length]=16.5&shipment[parcel][height]=9.5&shipment[parcel][weight]=40.1
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - cc18d7395ea30d20fc9be92f000de12b
      Location:
      - "/api/v2/shipments/shp_38d8f9aa8412488f9e9d321bcefb7766"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb6sj
      X-Version-Label:
      - easypost-202004232052-2747d42303-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj 5834894b53
      - intlb1sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2020-04-24T16:00:32Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2020-04-24T16:00:32Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_8cfae8440f4b43aa8c2c30e832c7390a","object":"Address","created_at":"2020-04-24T16:00:32Z","updated_at":"2020-04-24T16:00:32Z","name":null,"company":"Airport
        Shipping","street1":"601 Brasilia Avenue","street2":null,"city":"Kansas City","state":"MO","zip":"64153","country":"US","phone":"3149240383","email":"kansas_shipping@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_3f71b3dd8f6b488e8d65e5a6f5db3968","object":"Parcel","created_at":"2020-04-24T16:00:32Z","updated_at":"2020-04-24T16:00:32Z","length":16.5,"width":12.0,"height":9.5,"predefined_package":null,"weight":40.1,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_a689de490c7f4014831717488a5fdb28","object":"Rate","created_at":"2020-04-24T16:00:32Z","updated_at":"2020-04-24T16:00:32Z","mode":"test","service":"Priority","carrier":"USPS","rate":"39.95","currency":"USD","retail_rate":"49.65","retail_currency":"USD","list_rate":"39.95","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_38d8f9aa8412488f9e9d321bcefb7766","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_34bc09bf73974036a68be450e2dd2519","object":"Rate","created_at":"2020-04-24T16:00:32Z","updated_at":"2020-04-24T16:00:32Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"39.65","currency":"USD","retail_rate":"39.65","retail_currency":"USD","list_rate":"39.65","list_currency":"USD","delivery_days":6,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":6,"shipment_id":"shp_38d8f9aa8412488f9e9d321bcefb7766","car[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_38d8f9aa8412488f9e9d321bcefb7766/buy
    body:
      encoding: UTF-8
      string: rate[id]=rate_30742c253df3407baa6ed0888991fa6c
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - cc18d73a5ea30d21fc9be930000de1e6
      Content-Type:
      - application/[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: pickup[address][company]=EasyPost&pickup[address][street1]=164%20Townsend%20Street&pickup[address][street2]=Unit%201&pickup[address][city]=San%20Francisco&pickup[address][state]=CA&pickup[address][zip]=94107&pickup[address][phone]=415-123-4567&pickup[reference]=buy12345678&pickup[min_datetime]=2020-04-25T12%3A00%3A00%2B00%3A00&pickup[max_datetime]=2020-04-25T12%3A00%3A00%2B00%3A00&pickup[is_account_address]=false&pickup[instructions]=At%20the%20front%20door.&pickup[shipment][id]=shp_38d8f9aa8412488f9e9d321bcefb7766
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - cc18d73c5ea30d23fc9be931000de315
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb10sj
      X-Version-Label:
      - easypost-202004232052-2747d42303-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj 5834894b53
      - intlb2sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"pickup_1db6f9246b4c450b870f9d20c9bab57f","object":"Pickup","created_at":"2020-04-24T16:00:35Z","updated_at":"2020-04-24T16:00:35Z","mode":"test","status":"unknown","reference":"buy12345678","min_datetime":"2020-04-25T12:00:00Z","max_datetime":"2020-04-25T12:00:00Z","is_account_address":false,"instructions":"At
        the front door.","messages":[],"confirmation":null,"address":{"id":"adr_2cad691bcaf3462d9281e956c087783d","object":"Address","created_at":"2020-04-24T16:00:35Z","updated_at":"2020-04-24T16:00:35Z","name":null,"company":"EasyPost","street1":"164
        Townsend Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"Future-day
        Pickup","rate":"9.61","currency":"USD","created_at":"2020-04-24T16:00:35Z","updated_at":"2020-04-24T16:00:35Z","carrier":"UPS","pickup_id":"pickup_1db6f9246b4c450b870f9d20c9bab57f","id":"pickuprate_6f545a77664847cf8150d3a9dd71099b","object":"PickupRate"}]}'
  recorded_at: Fri, 24 Apr 2020 16:00:35 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups/pickup_1db6f9246b4c450b870f9d20c9bab57f/buy
    body:
      encoding: UTF-8
      string: carrier=UPS&service=Future-day%20Pickup
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - cc18d73e5ea30d24fc9be932000de3b9
      Content-Type:
      - application/json; [...]
