---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: shipment[to_address][company]=EasyPost&shipment[to_address][street1]=164%20Townsend%20Street&shipment[to_address][street2]=Unit%201&shipment[to_address][city]=San%20Francisco&shipment[to_address][state]=CA&shipment[to_address][zip]=94107&shipment[to_address][phone]=415-123-4567&shipment[from_address][company]=Airport%20Shipping&shipment[from_address][street1]=601%20Brasilia%20Avenue&shipment[from_address][city]=Kansas%20City&shipment[from_address][state]=MO&shipment[from_address][zip]=64153&shipment[from_address][phone]=314-924-0383&shipment[from_address][email]=kansas_shipping%40example.com&shipment[parcel][width]=12&shipment[parcel][length]=16.5&shipment[parcel][height]=9.5&shipment[parcel][weight]=40.1
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - cc18d7405ea30d25fc9be933000de43f
      Location:
      - "/api/v2/shipments/shp_103726c27ec24bb78989df739df7413d"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb4sj
      X-Version-Label:
      - easypost-202004232052-2747d42303-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj 5834894b53
      - intlb1sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2020-04-24T16:00:37Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2020-04-24T16:00:37Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_8333ca321d744feb8086b2127c9640ea","object":"Address","created_at":"2020-04-24T16:00:37Z","updated_at":"2020-04-24T16:00:37Z","name":null,"company":"Airport
        Shipping","street1":"601 Brasilia Avenue","street2":null,"city":"Kansas City","state":"MO","zip":"64153","country":"US","phone":"3149240383","email":"kansas_shipping@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_4eb4aa8335904cf69649aac46cda9749","object":"Parcel","created_at":"2020-04-24T16:00:37Z","updated_at":"2020-04-24T16:00:37Z","length":16.5,"width":12.0,"height":9.5,"predefined_package":null,"weight":40.1,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_293e911995fb4b48a0234ba28d66c7ce","object":"Rate","created_at":"2020-04-24T16:00:38Z","updated_at":"2020-04-24T16:00:38Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"39.65","currency":"USD","retail_rate":"39.65","retail_currency":"USD","list_rate":"39.65","list_currency":"USD","delivery_days":6,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":6,"shipment_id":"shp_103726c27ec24bb78989df739df7413d","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_5d171f4e7760477a93d2aec3284d60cd","object":"Rate","created_at":"2020-04-24T16:00:38Z","updated_at":"2020-04-24T16:00:38Z","mode":"test","service":"Priority","carrier":"USPS","rate":"39.95","currency":"USD","retail_rate":"49.65","retail_currency":"USD","list_rate":"39.95","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_103726c27ec24bb78989df739df7413d","carrier[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_103726c27ec24bb78989df739df7413d/buy
    body:
      encoding: UTF-8
      string: rate[id]=rate_d01e46ce134f4843a96a59941f3ad45a
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - cc18d73a5ea30d26fc9be934000de4dc
      Content-Type:
      - application/[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: pickup[address][company]=EasyPost&pickup[address][street1]=164%20Townsend%20Street&pickup[address][street2]=Unit%201&pickup[address][city]=San%20Francisco&pickup[address][state]=CA&pickup[address][zip]=94107&pickup[address][phone]=415-123-4567&pickup[reference]=buy12345678&pickup[min_datetime]=2020-04-25T12%3A00%3A00%2B00%3A00&pickup[max_datetime]=2020-04-25T12%3A00%3A00%2B00%3A00&pickup[is_account_address]=false&pickup[instructions]=At%20the%20front%20door.&pickup[shipment][id]=shp_103726c27ec24bb78989df739df7413d
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - cc18d73e5ea30d28fc9be935000de5dc
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb6sj
      X-Version-Label:
      - easypost-202004232052-2747d42303-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj 5834894b53
      - intlb1sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"pickup_a9d7a19480c14fd6ad422d0f2c346d57","object":"Pickup","created_at":"2020-04-24T16:00:40Z","updated_at":"2020-04-24T16:00:40Z","mode":"test","status":"unknown","reference":"buy12345678","min_datetime":"2020-04-25T12:00:00Z","max_datetime":"2020-04-25T12:00:00Z","is_account_address":false,"instructions":"At
        the front door.","messages":[],"confirmation":null,"address":{"id":"adr_aedd74da46e2437e9f32558faef358cb","object":"Address","created_at":"2020-04-24T16:00:40Z","updated_at":"2020-04-24T16:00:40Z","name":null,"company":"EasyPost","street1":"164
        Townsend Street","street2":"Unit 1","city":"San Francisco","state":"CA","zip":"94107","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"Future-day
        Pickup","rate":"9.61","currency":"USD","created_at":"2020-04-24T16:00:40Z","updated_at":"2020-04-24T16:00:40Z","carrier":"UPS","pickup_id":"pickup_a9d7a19480c14fd6ad422d0f2c346d57","id":"pickuprate_2a7bc2c5263241a4a3eb8bae5c87cf91","object":"PickupRate"}]}'
  recorded_at: Fri, 24 Apr 2020 16:00:40 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups/pickup_a9d7a19480c14fd6ad422d0f2c346d57/buy
    body:
      encoding: UTF-8
      string: carrier=UPS&service=Future-day%20Pickup
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - cc18d73f5ea30d29fc9be936000de63f
      Content-Type:
      - application/json; [...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups/pickup_a9d7a19480c14fd6ad422d0f2c346d57/cancel
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - cc18d7405ea30d29fc9bec45000de6c6
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
   [...]
