---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: shipment[to_address][company]=EasyPost&shipment[to_address][street1]=164%20Townsend%20Street&shipment[to_address][street2]=Unit%201&shipment[to_address][city]=San%20Francisco&shipment[to_address][state]=CA&shipment[to_address][zip]=94107&shipment[to_address][phone]=415-123-4567&shipment[from_address][company]=Airport%20Shipping&shipment[from_address][street1]=601%20Brasilia%20Avenue&shipment[from_address][city]=Kansas%20City&shipment[from_address][state]=MO&shipment[from_address][zip]=64153&shipment[from_address][phone]=314-924-0383&shipment[from_address][email]=kansas_shipping%40example.com&shipment[parcel][width]=12&shipment[parcel][length]=16.5&shipment[parcel][height]=9.5&shipment[parcel][weight]=40.1
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - cc18d73d5ea30d17fc9be8ef000ddbef
      Location:
      - "/api/v2/shipments/shp_63cddd4814134f60820e481d6d1e0439"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb10sj
      X-Version-Label:
      - easypost-202004232052-2747d42303-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj 5834894b53
      - intlb1sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2020-04-24T16:00:23Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2020-04-24T16:00:23Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_2e770b5863f54b878f0813f2f1ef4704","object":"Address","created_at":"2020-04-24T16:00:23Z","updated_at":"2020-04-24T16:00:23Z","name":null,"company":"Airport
        Shipping","street1":"601 Brasilia Avenue","street2":null,"city":"Kansas City","state":"MO","zip":"64153","country":"US","phone":"3149240383","email":"kansas_shipping@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_918874938ca04349a0a72113f90272e5","object":"Parcel","created_at":"2020-04-24T16:00:23Z","updated_at":"2020-04-24T16:00:23Z","length":16.5,"width":12.0,"height":9.5,"predefined_package":null,"weight":40.1,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_d5adb574ff524189b4df55ae3cf14867","object":"Rate","created_at":"2020-04-24T16:00:24Z","updated_at":"2020-04-24T16:00:24Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"39.65","currency":"USD","retail_rate":"39.65","retail_currency":"USD","list_rate":"39.65","list_currency":"USD","delivery_days":6,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":6,"shipment_id":"shp_63cddd4814134f60820e481d6d1e0439","carrier_account_id":"ca_716f33fd9fd348238b85c2922237f98b"},{"id":"rate_dcd6a1f2eb0d4f479a0425ebed5e105c","object":"Rate","created_at":"2020-04-24T16:00:24Z","updated_at":"2020-04-24T16:00:24Z","mode":"test","service":"Priority","carrier":"USPS","rate":"39.95","currency":"USD","retail_rate":"49.65","retail_currency":"USD","list_rate":"39.95","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_63cddd4814134f60820e481d6d1e0439","carrier[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_63cddd4814134f60820e481d6d1e0439/buy
    body:
      encoding: UTF-8
      string: rate[id]=rate_10cfbacb8ac743f4978e7a46b67130db
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - cc18d7405ea30d18fc9be8f0000ddc69
      Content-Type:
      - application/[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/pickups
    body:
      encoding: UTF-8
      string: pickup[address][company]=Airport%20Shipping&pickup[address][street1]=601%20Brasilia%20Avenue&pickup[address][city]=Kansas%20City&pickup[address][state]=MO&pickup[address][zip]=64153&pickup[address][phone]=314-924-0383&pickup[address][email]=kansas_shipping%40example.com&pickup[reference]=12345678&pickup[min_datetime]=2020-04-25T12%3A00%3A00%2B00%3A00&pickup[max_datetime]=2020-04-25T12%3A00%3A00%2B00%3A00&pickup[is_account_address]=false&pickup[instructions]=At%20the%20front%20door.&pickup[shipment][id]=shp_63cddd4814134f60820e481d6d1e0439
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - cc18d73b5ea30d1afc9be8f1000ddd9d
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb8sj
      X-Version-Label:
      - easypost-202004232052-2747d42303-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj 5834894b53
      - intlb2sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"pickup_509d7bcc29d94711a593023994d28e7c","object":"Pickup","created_at":"2020-04-24T16:00:26Z","updated_at":"2020-04-24T16:00:26Z","mode":"test","status":"unknown","reference":"12345678","min_datetime":"2020-04-25T12:00:00Z","max_datetime":"2020-04-25T12:00:00Z","is_account_address":false,"instructions":"At
        the front door.","messages":[],"confirmation":null,"address":{"id":"adr_6108b6aa7a4c4097ac1ca669fb295cbe","object":"Address","created_at":"2020-04-24T16:00:26Z","updated_at":"2020-04-24T16:00:26Z","name":null,"company":"Airport
        Shipping","street1":"601 Brasilia Avenue","street2":null,"city":"Kansas City","state":"MO","zip":"64153","country":"US","phone":"3149240383","email":"kansas_shipping@example.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"Future-day
        Pickup","rate":"9.61","currency":"USD","created_at":"2020-04-24T16:00:27Z","updated_at":"2020-04-24T16:00:27Z","carrier":"UPS","pickup_id":"pickup_509d7bcc29d94711a593023994d28e7c","id":"pickuprate_7ef5aa46f8594c9388d207c74d8b9cd5","object":"PickupRate"}]}'
  recorded_at: Fri, 24 Apr 2020 16:00:27 GMT
recorded_with: VCR 5.1.0
