---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/webhooks
    body:
      encoding: UTF-8
      string: webhook[url]=http%3A%2F%2Fexample.com
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - cc18d7395ea30d4ffc9bed2e000dfa74
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb2sj
      X-Version-Label:
      - easypost-202004232052-2747d42303-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj 5834894b53
      - intlb2sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"hook_e3c85e35d4504dc9b8f2811926f11ad3","object":"Webhook","mode":"test","url":"http://example.com","disabled_at":null}'
  recorded_at: Fri, 24 Apr 2020 16:01:19 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/webhooks/hook_e3c85e35d4504dc9b8f2811926f11ad3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - cc18d73a5ea30d4ffc9bed32000dfa90
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb3sj
      X-Version-Label:
      - easypost-202004232052-2747d42303-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj 5834894b53
      - intlb2sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"hook_e3c85e35d4504dc9b8f2811926f11ad3","object":"Webhook","mode":"test","url":"http://example.com","disabled_at":null}'
  recorded_at: Fri, 24 Apr 2020 16:01:19 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/webhooks/hook_e3c85e35d4504dc9b8f2811926f11ad3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - cc18d73b5ea30d4ffc9bed33000dfac6
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb2sj
      X-Version-Label:
      - easypost-202004232052-2747d42303-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj 5834894b53
      - intlb2sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: "{}"
  recorded_at: Fri, 24 Apr 2020 16:01:19 GMT
recorded_with: VCR 5.1.0
