---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/webhooks
    body:
      encoding: UTF-8
      string: webhook[url]=http%3A%2F%2Fexample.com
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - cc18d73d5ea30d4ffc9bed34000dfae1
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb11sj
      X-Version-Label:
      - easypost-202004232052-2747d42303-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj 5834894b53
      - intlb1sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"hook_6f26e6f5edfb4e09bd8dadaad312f7f0","object":"Webhook","mode":"test","url":"http://example.com","disabled_at":null}'
  recorded_at: Fri, 24 Apr 2020 16:01:20 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/webhooks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - cc18d73e5ea30d50fc9bed35000dfaf5
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb8sj
      X-Version-Label:
      - easypost-202004232052-2747d42303-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj 5834894b53
      - intlb1sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"webhooks":[{"id":"hook_6f26e6f5edfb4e09bd8dadaad312f7f0","object":"Webhook","mode":"test","url":"http://example.com","disabled_at":null}]}'
  recorded_at: Fri, 24 Apr 2020 16:01:20 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/webhooks/hook_6f26e6f5edfb4e09bd8dadaad312f7f0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - cc18d73f5ea30d50fc9bed4d000dfb09
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb3sj
      X-Version-Label:
      - easypost-202004232052-2747d42303-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj 5834894b53
      - intlb1sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: "{}"
  recorded_at: Fri, 24 Apr 2020 16:01:20 GMT
recorded_with: VCR 5.1.0
