---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/webhooks
    body:
      encoding: UTF-8
      string: webhook[url]=http%3A%2F%2Fexample.com
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - cc18d7395ea30d50fc9bed4e000dfb4e
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb10sj
      X-Version-Label:
      - easypost-202004232052-2747d42303-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj 5834894b53
      - intlb2sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"hook_e87a50c3fa264002aa53b9923462c634","object":"Webhook","mode":"test","url":"http://example.com","disabled_at":null}'
  recorded_at: Fri, 24 Apr 2020 16:01:20 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/webhooks/hook_e87a50c3fa264002aa53b9923462c634
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - cc18d73a5ea30d50fc9bed4f000dfb68
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb10sj
      X-Version-Label:
      - easypost-202004232052-2747d42303-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj 5834894b53
      - intlb2sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: "{}"
  recorded_at: Fri, 24 Apr 2020 16:01:20 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/webhooks/hook_e87a50c3fa264002aa53b9923462c634
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Ep-Request-Uuid:
      - cc18d73b5ea30d51fc9bed50000dfb86
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb8sj
      X-Version-Label:
      - easypost-202004232052-2747d42303-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj 5834894b53
      - intlb2sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"code":"NOT_FOUND","message":"The requested resource could
        not be found.","errors":[]}}'
  recorded_at: Fri, 24 Apr 2020 16:01:21 GMT
recorded_with: VCR 5.1.0
