---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/webhooks
    body:
      encoding: UTF-8
      string: webhook[url]=http%3A%2F%2Fexample.com
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - cc18d73f5ea30d4efc9bed2c000dfa42
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb8sj
      X-Version-Label:
      - easypost-202004232052-2747d42303-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj 5834894b53
      - intlb2sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"hook_f9869c78e73f4ff1b03a9f551e9d1855","object":"Webhook","mode":"test","url":"http://example.com","disabled_at":null}'
  recorded_at: Fri, 24 Apr 2020 16:01:18 GMT
- request:
    method: delete
    uri: https://api.easypost.com/v2/webhooks/hook_f9869c78e73f4ff1b03a9f551e9d1855
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - cc18d7405ea30d4ffc9bed2d000dfa5b
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb6sj
      X-Version-Label:
      - easypost-202004232052-2747d42303-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj 5834894b53
      - intlb2sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: "{}"
  recorded_at: Fri, 24 Apr 2020 16:01:19 GMT
recorded_with: VCR 5.1.0
