---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/reports/shipment
    body:
      encoding: UTF-8
      string: start_date=2020-03-25&end_date=2020-04-24&type=shipment
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - cc18d7395ea30d2afc9bec46000de6f9
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb8sj
      X-Version-Label:
      - easypost-202004232052-2747d42303-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj 5834894b53
      - intlb2sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"shprep_8fb2b2c389dd4990b38ed2712b89da12","object":"ShipmentReport","created_at":"2020-04-24T15:51:50Z","updated_at":"2020-04-24T15:51:53Z","start_date":"2020-03-25","end_date":"2020-04-24","mode":"test","status":"available","url":"https://easypost-files.s3-us-west-2.amazonaws.com/files/shipment_report/20200424/shprep_8fb2b2c389dd4990b38ed2712b89da12.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIOR7PKFCRZS3YA6Q%2F20200424%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20200424T160042Z&X-Amz-Expires=30&X-Amz-SignedHeaders=host&X-Amz-Signature=487343021ead94506b65c2025c1fddd2868d2870192fc2c5d24eb2cfade23570","url_expires_at":"2020-04-24T16:01:12+00:00","include_children":false}'
  recorded_at: Fri, 24 Apr 2020 16:00:42 GMT
recorded_with: VCR 5.1.0
