---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/reports/shipment
    body:
      encoding: UTF-8
      string: start_date=2020-03-25&end_date=2020-04-24&type=shipment
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - cc18d73c5ea30d2afc9bec49000de73b
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb2sj
      X-Version-Label:
      - easypost-202004232052-2747d42303-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj 5834894b53
      - intlb1sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"shprep_8fb2b2c389dd4990b38ed2712b89da12","object":"ShipmentReport","created_at":"2020-04-24T15:51:50Z","updated_at":"2020-04-24T15:51:53Z","start_date":"2020-03-25","end_date":"2020-04-24","mode":"test","status":"available","url":"https://easypost-files.s3-us-west-2.amazonaws.com/files/shipment_report/20200424/shprep_8fb2b2c389dd4990b38ed2712b89da12.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIOR7PKFCRZS3YA6Q%2F20200424%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20200424T160043Z&X-Amz-Expires=30&X-Amz-SignedHeaders=host&X-Amz-Signature=0c422be421d913bd12e5913ad2403d1d435f85b6b1efe7bda179c2c88eecd52a","url_expires_at":"2020-04-24T16:01:13+00:00","include_children":false}'
  recorded_at: Fri, 24 Apr 2020 16:00:43 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/reports/shprep_8fb2b2c389dd4990b38ed2712b89da12
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - cc18d73d5ea30d2bfc9bec4a000de751
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb2sj
      X-Version-Label:
      - easypost-202004232052-2747d42303-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj 5834894b53
      - intlb1sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"shprep_8fb2b2c389dd4990b38ed2712b89da12","object":"ShipmentReport","created_at":"2020-04-24T15:51:50Z","updated_at":"2020-04-24T15:51:53Z","start_date":"2020-03-25","end_date":"2020-04-24","mode":"test","status":"available","url":"https://easypost-files.s3-us-west-2.amazonaws.com/files/shipment_report/20200424/shprep_8fb2b2c389dd4990b38ed2712b89da12.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIOR7PKFCRZS3YA6Q%2F20200424%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20200424T160043Z&X-Amz-Expires=30&X-Amz-SignedHeaders=host&X-Amz-Signature=0c422be421d913bd12e5913ad2403d1d435f85b6b1efe7bda179c2c88eecd52a","url_expires_at":"2020-04-24T16:01:13+00:00","include_children":false}'
  recorded_at: Fri, 24 Apr 2020 16:00:43 GMT
recorded_with: VCR 5.1.0
