---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/reports/shipment
    body:
      encoding: UTF-8
      string: start_date=2020-03-30&end_date=2020-04-24&type=shipment
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - cc18d73e5ea30d2bfc9bec4b000de764
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb9sj
      X-Version-Label:
      - easypost-202004232052-2747d42303-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj 5834894b53
      - intlb2sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"shprep_6b8503be1f8f4b69bfba5ac4181fcc57","object":"ShipmentReport","created_at":"2020-04-24T15:51:51Z","updated_at":"2020-04-24T15:51:54Z","start_date":"2020-03-30","end_date":"2020-04-24","mode":"test","status":"available","url":"https://easypost-files.s3-us-west-2.amazonaws.com/files/shipment_report/20200424/shprep_6b8503be1f8f4b69bfba5ac4181fcc57.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIOR7PKFCRZS3YA6Q%2F20200424%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20200424T160043Z&X-Amz-Expires=30&X-Amz-SignedHeaders=host&X-Amz-Signature=b71abc169f8b16e65543733ddbf773d5c1cc2a6108fb8eabab1dd259e63fc103","url_expires_at":"2020-04-24T16:01:13+00:00","include_children":false}'
  recorded_at: Fri, 24 Apr 2020 16:00:43 GMT
[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/reports/shipment?type=shipment
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - cc18d7405ea30d2bfc9bec4d000de7a7
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb10sj
      X-Version-Label:
      - easypost-202004232052-2747d42303-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj 5834894b53
      - intlb1sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"reports":[{"id":"shprep_dc196b7dbaa04c78a4bae66a4913f947","object":"ShipmentReport","created_at":"2020-04-24T15:51:51Z","updated_at":"2020-04-24T15:51:55Z","start_date":"2020-03-26","end_date":"2020-04-24","mode":"test","status":"available","url":"https://easypost-files.s3-us-west-2.amazonaws.com/files/shipment_report/20200424/shprep_dc196b7dbaa04c78a4bae66a4913f947.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIOR7PKFCRZS3YA6Q%2F20200424%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20200424T16[...]
